*~
svg_whiteboard/bin/activate
svg_whiteboard/bin/activate.csh
svg_whiteboard/bin/activate.fish
svg_whiteboard/bin/easy_install
svg_whiteboard/bin/easy_install-3.5
svg_whiteboard/bin/pip
svg_whiteboard/bin/pip3
svg_whiteboard/bin/pip3.5
svg_whiteboard/bin/python
svg_whiteboard/bin/python3
svg_whiteboard/bin/watchmedo
svg_whiteboard/lib/
svg_whiteboard/lib64
target/
README.html
mathpump.log
.idea/
sbt-dist/
project/project/
project/target/
docs/*.html
files/Racket/mathpump-board
files/Racket/mathpump-headless

